@import "variables";

.site-nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: $nav-height;
  bottom: 0;
  padding: 0 0.6rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;

  display: flex;
  align-items: center;

  .nav-title {
    margin: 0;
    padding: 0;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: auto;
    width: 45px;
    height: 45px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .close-nav {
    display: none;
    font-size: 36px;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: auto;
    cursor: pointer;
  }

  .nav-container {
    display: none;
    z-index: 2;
    background-color: white;

    .nav-items {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        text-align: center;
        margin: 0.4rem 0;
        background-color: white;

        a {
          display: block;
          padding: 1rem;
          text-decoration: none;
          color: #1e1e1e;

          &:hover,
          &.active {
            background-color: darken(white, 8%);
          }
        }
      }
    }
  }

  &.active {
    border: none;
    padding: 0;

    .nav-container {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .close-nav {
      display: block;
      flex: 0 1 auto;
      padding: 0.8rem;
    }

    .nav-items {
      flex: 0 0 auto;
      margin-top: 160px;
    }

    .menu-btn {
      display: none;
    }
  }

  @media (min-width: 992px) {
    position: fixed;
    width: $nav-width;
    left: 0;
    top: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: unset;

    padding: 0.8rem 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    .nav-title {
      text-align: center;
    }

    .close-nav,
    .menu-btn {
      display: none;
    }

    .nav-container {
      display: block;
    }
  }
}
