@import "variables";

.site-nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: $nav-height;
  bottom: 0;
  padding: 0.5rem;
  border: 1px solid;
  background-color: white;

  display: flex;

  .menu-btn {
    background-color: transparent;
    border: none;
    outline: none;
    align-self: flex-end;
    margin-left: auto;
    width: 45px;
    height: 45px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .close-nav {
    display: none;
    font-size: 36px;
  }

  .nav-container {
    display: none;
    z-index: 2;
    background-color: white;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        text-align: center;
        margin: 0.4rem 0;
        background-color: white;

        a {
          display: block;
          padding: 1rem;
          text-decoration: none;
          color: #1e1e1e;

          &:hover,
          &.active {
            background-color: darken(white, 8%);
          }
        }
      }
    }
  }

  &.active {
    .nav-container {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
    }
    .close-nav {
      display: block;
    }

    .menu-btn {
      display: none;
    }
  }

  @media (min-width: 992px) {
    flex: 0 0 200px;
    position: relative;

    .close-nav,
    .menu-btn {
      display: none;
    }

    .nav-container {
      display: block;
    }
  }
}

.section-menu {
  border: 1px solid;
  float: right;
}
