@import "variables";

.recipe {
  .section-menu {
    display: none;
  }
  .featured-image {
    width: 100%;
  }

  .ingredients {
    ul {
      list-style-type: "- ";
    }
  }

  .directions {
    ul,
    ol {
      list-style-type: decimal;
    }
  }

  hr {
    width: 65%;
    background-color: transparent;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 3rem auto;
  }

  @media (min-width: 992px) {
    flex: 0 1 60%;
    padding: 2rem 1rem;
  }
}

.sidebar {
  display: none;

  @media (min-width: 992px) {
    display: inline-block;
    flex: 0 1 300px;
  }
}
