@import "colors";

.tag {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: 400;
  margin-right: 0.2rem;

  &[data-tagname="Meal Prep"] {
    background-color: $lime;
  }

  &[data-tagname="Breakfast"] {
    background-color: $orange;
  }

  &[data-tagname="Quick Meals"] {
    background-color: $red;
  }

  &[data-tagname="Sauces"] {
    background-color: $purple;
  }

  &[data-tagname="Mexican"] {
    background-color: $green;
  }

  &[data-tagname="High Protein"] {
    background-color: $dark-gray;
  }
}
