@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box; }

html {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  background-color: #f7f7f7; }

body {
  margin: 0;
  min-height: 100vh;
  display: flex; }

main {
  flex: 1 1 auto;
  padding: 2rem 1rem; }

.site-nav {
  flex: 0 0 200px; }
  .site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .site-nav ul li {
      text-align: center;
      margin: .4rem 0;
      background-color: white; }
      .site-nav ul li a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: #1E1E1E; }
        .site-nav ul li a:hover, .site-nav ul li a.active {
          background-color: #ebebeb; }

.section-menu {
  border: 1px solid;
  float: right; }
