@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@media print {
  body {
    font-size: 115%;
    padding: 0;
    margin: 0; }

  h1 {
    font-size: 3rem !important; }

  h3 {
    font-size: 2.5rem !important; }

  h5 {
    font-size: 1.5rem !important; }

  h6 {
    font-size: 1.3rem !important; }

  p {
    margin-top: 0;
    margin-bottom: 5px; }

  ul {
    margin-top: 8px;
    margin-bottom: 8px; }

  section {
    margin: 0 !important;
    margin-top: 5px !important; }

  .section-heading {
    margin-bottom: 5px !important; }

  a {
    color: #383838; }

  #name {
    padding-top: 0; }

  #head {
    position: relative;
    display: block;
    margin-bottom: 0;
    margin-top: -30px !important; }

  .container {
    width: 100% !important;
    margin: 0;
    padding: 0; }

  footer {
    margin-top: 15px; }

  .no-print {
    display: none !important; } }
h1, h2, h3, h4, h5, h6 {
  font-family: "Tahoma", sans-serif;
  font-weight: 300; }

body {
  padding-top: 25px; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.8rem; }

hr {
  margin: 35px auto;
  max-width: 65%; }

section {
  margin-top: 50px; }

.three-col {
  display: inline-block;
  width: 33.3333% !important; }

.six-col {
  display: inline-block;
  width: 50% !important; }

.section-heading {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(56, 56, 56, 0.45); }

.sub-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .sub-head h6 {
    margin-bottom: 0;
    display: inline-block;
    text-decoration: underline; }

.pill {
  display: inline-block;
  position: relative;
  margin-bottom: 5px; }

p {
  padding: 0;
  margin: 0; }

b {
  font-weight: 600; }

li {
  list-style-type: circle; }

.no-bullet {
  padding-left: 10px; }
  .no-bullet li {
    list-style-type: none; }

#name {
  padding-top: 15px; }

#head {
  margin-bottom: 25px; }


