{{ define "main" }}
  <div class="page-wrapper has-sidebar">
    <article class="page-content recipe">
      <h1 class="page-title">{{ .Title }}</h1>
      <h5>Posted: {{ .Date | dateFormat ":date_long" }}</h5>

      <p>
        {{ .Params.description }}
      </p>

      {{ $image := resources.Get .Params.featuredImage }}
      {{ with $image }}
        <img class="featured-image" src="{{ .RelPermalink }}" alt="" />
      {{ end }}


      <hr />

      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          {{ range .Params.ingredients }}
            <li>
              <span class="ingredient-amount">{{ .amount }}</span>
              <span class="ingredient-unit">{{ .unit }}</span>
              <span class="ingredient-name">{{ .name }}</span>
            </li>
          {{ end }}
        </ul>
      </div>

      <div class="directions">
        <h3>Directions</h3>
        {{ .Content }}
      </div>
    </article>
    <div class="sidebar">
      {{ partial "sectionMenu" .Parent }}
    </div>
  </div>
{{ end }}
