{{ define "main" }}
  {{ $image := resources.Get .Params.featuredImage }}


  <div class="page-wrapper">
    <article class="page-content recipe">
      <div class="card">
        <h1 class="page-title">{{ .Title }}</h1>
        <h4 class="recipe-date">
          <em>{{ .Date | dateFormat ":date_long" }}</em>
        </h4>

        {{ with $image }}
          <img class="featured-image" src="{{ .RelPermalink }}" alt="" />
        {{ end }}
        <p>
          {{ .Params.description }}
        </p>
      </div>

      <hr />

      <div class="directions-container">
        <div class="ingredients">
          <div class="card">
            <h2>Ingredients</h2>

            <div class="stripe-list ingredient-list">
              {{ range .Params.ingredients }}
                <div class="stripe-item ingredient">
                  <span class="ingredient-amount">{{ .amount }}</span>
                  <span class="ingredient-unit">{{ .unit }}</span>
                  <span class="ingredient-name">{{ .name }}</span>
                </div>
              {{ end }}
            </div>
          </div>
        </div>

        <div class="directions">
          <div class="card">
            <h2>Directions</h2>
            <div class="stripe-list direction-list">
              {{ if isset .Params "directions" }}
                {{ range $idx, $item := .Params.directions }}
                  <div class="stripe-item direction">
                    <h4 class="idx">{{ $idx }}.</h4>
                    <div class="content">
                      {{ $item }}
                    </div>
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
{{ end }}
