<aside class="section-menu">
  <ul>
    {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">
          {{ if .Params.featuredImage }}
            {{ $image := resources.Get .Params.featuredImage }}
            {{ with $image }}
              <div
                class="page-image"
                style="background-image: url('{{ .RelPermalink }}');"
              ></div>
            {{ end }}
          {{ end }}
          <span class="title">{{ .Title }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
</aside>
