$gray: #3A3A3A
$white: #FDFDFD

$blue: #2fabfb
$green: #3bc937
$dark-green: darken($green, 15%)
$red: #d64c3f
$purple: #f54ef3
$dark-purple: #6d00d2
$yellow: #ffdd40

.text-blue
    color: $blue !important
.text-green
    color: $green !important
.text-red
    color: $red !important
.text-purple
    color: $purple !important
.text-purple-dark
    color: $dark-purple !important
.text-yellow
    color: $yellow !important

$shadow-gradient: radial-gradient(transparent, rgba(0,0,0,.5))
