@import 'variables'
@import 'nav'

body
    font-size: 1.8rem

img
    max-width: 100%

#page-wrapper
    display: block

#profile-pic
    max-width: 250px
    margin-left: 25px
    border-radius: 3px

@media screen and (max-width: 540px)
    #profile-pic
        display: block
        float: none
        max-width: 75%
        margin: 15px auto

@media screen and (min-width: 768px)
    section
        padding: 25px 100px

section
    padding: 25px

    p
        margin-top: 5px

    a
        color: white
        text-decoration: none
        font-weight: bold

        &:hover
            text-decoration: underline

    .section-heading
        text-align: center
        font-size: 4.5rem
        font-weight: 500

.project
    cursor: pointer
    padding: 10px 25px
    background-color: $white
    color: $gray

.project-link
    padding: 8px 12px

    color: $dark-green
    text-decoration: none

    border: 1px solid $dark-green
    border-radius: 3px

    cursor: pointer
    transition: all .2s ease

    &:hover
        color: $white
        background-color: $dark-green

iframe
    width: 500px
    max-width: 100%
    min-height: 400px
    display: block
    margin: 0 auto

.sub-heading
    margin-bottom: 5px

#about
    // background-color: darken($blue, 20%)
    background: darken($blue, 20%) linear-gradient(135deg, rgba(0, 0, 0, .4), transparent)
    color: white
#projects
    background: $dark-green radial-gradient(transparent, rgba(0,0,0,.45))
    color: white
#talks
    background: $red radial-gradient(transparent, rgba(0,0,0,.45))
    color: white
#contact
    background-color: $gray



.contact-buttons .contact-button
    font-size: 3.8rem
    color: $white

    transition: all .3s ease-in-out

    &:hover
        transform: scale(1.35)

@media screen and (min-width: 768px)
    .contact-buttons .contact-button
        font-size: 5rem

#email:hover
    color: $red
#github:hover
    color: #80278f
#linkedin:hover
    color: #0077B5
#twitter:hover
    color: #1DA1F2
#codepen:hover
    color: #ffdd40
#facebook:hover
    color: #4867AA

@media screen and (max-width: 768px)
    .modal-xl
        width: 90%
