@import 'variables'
@import 'nav'

body
    font-size: 1.8rem
    font-weight: 300

img
    max-width: 100%

#page-wrapper
    display: block


@media screen and (min-width: 768px)
    section
        padding: 25px 100px

section
    padding: 25px 10px

    @media screen and (min-width: 568px)
        padding: 50px 25px
    @media screen and (min-width: 768px)
        padding: 50px

    p
        margin-top: 30px
        margin-bottom: 30px
        line-height: 1.55

    a
        color: white
        text-decoration: none
        font-weight: bold

        &:hover
            text-decoration: underline

.section-heading
    text-align: center
    font-size: 4.5rem
    font-weight: 300
    margin-bottom: 40px

iframe
    width: 500px
    max-width: 100%
    min-height: 400px
    display: block
    margin: 0 auto

.talk-link
    display: block
    width: 225px
    margin: 15px auto
    padding: 8px 12px
    font-weight: 300
    text-align: center
    background-color: transparent
    cursor: pointer
    border-radius: 3px
    border: 1px solid $white
    color: white

    &:hover
        text-decoration: none
        background-color: $white
        color: $red

.sub-heading
    margin-bottom: 5px


/* === ABOUT SECTION STYLES === */

#about
    padding: 50px 30px
    padding-top: 25px
    @media screen and (min-width: 768px)
        padding: 50px
    @media screen and (min-width: 992px)
        padding: 50px 75px
    @media screen and (min-width: 1200px)
        padding: 50px 100px
    @media screen and (min-width: 1350px)
        padding: 50px 125px

#profile-pic
    max-width: 250px
    margin-left: 25px
    border-radius: 3px

@media screen and (max-width: 540px)
    #profile-pic
        display: block
        float: none
        max-width: 75%
        margin: 15px auto


/* === PROJECT SECTION STYLES === */

#projects
    .row
        div[class*="col-"]
            padding: 10px 20px

            @media screen and (min-width: 768px)
                padding: 15px 25px
            @media screen and (min-width: 992px)
                padding: 25px 50px

.project
    cursor: pointer
    padding: 10px 25px
    background-color: $white
    color: $gray
    max-height: 350px
    overflow: hidden

.project-heading
    font-size: 2.2rem
    @media screen and (min-width: 568px)
        font-size: 2.5rem
    @media screen and (min-width: 768px)
        font-size: 2.8rem
    @media screen and (min-width: 992px)
        font-size: 3.2rem

.project-link
    padding: 8px 12px
    display: block
    margin-bottom: 5px

    color: darken($dark-green, 8%) !important
    text-decoration: none

    border: 1px solid darken($dark-green, 8%)
    border-radius: 3px

    cursor: pointer
    transition: all .2s ease

    &:hover
        color: $white !important
        background-color: darken($dark-green, 8%)

.project-img
    display: block
    margin: 0 auto

/* === CONTACT SECTION STYLES === */

#contact-form-container
    display: block
    margin: 50px auto
    padding: 25px 5px
    max-width: 750px

    color: $gray
    background-color: $white

    @media screen and (min-width: 568px)


#contact-form

    label
        font-family: 'Source Sans Pro', sans-serif
        font-weight: 300
        font-size: 2.5rem

    input,
    textarea,
    .btn
        border-radius: 2px
    input:focus,
    textarea:focus
        border-color: $dark-purple
        box-shadow: 0 0 5px 0 rgba(128, 0, 128, .35), 0 0 2px 0 rgba(128, 0, 128, .35) inset

    .btn
        display: block
        margin: 0 auto
        padding: 15px
        width: 100%

        border: none
        outline: none

        font-family: 'Source Sans Pro', sans-serif
        font-weight: 300
        font-size: 2.8rem
        letter-spacing: .3rem
        cursor: pointer
        color: $white
        background: $dark-purple radial-gradient(transparent, rgba(0,0,0,.25))

        &:hover
            background-color: darken($dark-purple, 10%)

        @media screen and (min-width: 768px)
            width: 85%

#submission-error
    display: none
    margin-bottom: 50px
    p
        font-size: 2rem

#thank-you
    display: none

    p
        font-size: 2rem

    #submission-wrapper
        width: 100%
        margin: 0 auto

        @media screen and (min-width: 568px)
            width: 95%
        @media screen and (min-width: 768px)
            width: 95%
        @media screen and (min-width: 992px)
            width: 85%


/* === SECTION COLORING === /*

#about
    background: darken($blue, 20%) $shadow-gradient
    color: $white
#projects
    background: $dark-green $shadow-gradient
    color: $white
#talks
    background: $red $shadow-gradient
    color: $white
#contact
    background: ($dark-purple) $shadow-gradient
    color: $white

footer
    background: $gray $shadow-gradient


/* === FOOTER STYLING === */

footer
    padding: 50px 0

.contact-buttons .contact-button
    font-size: 3.8rem
    color: $white

    transition: all .3s ease-in-out

    @media screen and (min-width: 768px)
        font-size: 5rem

    &:hover
        transform: scale(1.35)

#email:hover
    color: $red
#github:hover
    color: #80278f
#linkedin:hover
    color: #0077B5
#twitter:hover
    color: #1DA1F2
#codepen:hover
    color: #ffdd40
#facebook:hover
    color: #4867AA

.modal a
    color: $gray
.modal p
    padding: 0

    @media screen and (min-width: 768px)
        padding: 0 25px
    @media screen and (min-width: 992px)
        padding: 0 35px
.modal-close
    font-size: 5rem
    line-height: .8
    margin-bottom: -25px
    padding-right: 5px

    @media screen and (min-width: 768px)
        padding-right: 15px
